<h1>Minewsiae</h1>
<h2>- NYC Newsbits -</h2>
<br>
<h2> EVENTS </h2>
<br>
<h3><a href="/">Return to the newsbits...</a><h3>
<% for(i=0; i<events.length; i++) { %>
<div class="row">

    <div class="span12">

        <h2>
            <a href="/events/<%= events[i].urlslug %>">
                <%= events[i].name %>
            </a>
        </h2>
        <small>
            <!--<a href="/entryById/<%= events[i]._id %>">View by objectId</a>-->
        </small>
        <br>
        <small>Location: <%= events[i].place %></small>
        <br/>
        <small>Time: <%= events[i].time %></small>
        <br/>
        <small>Details: <%= events[i].desc %></small>
        <hr />
        
    </div>
</div>

<% } %>


<!-- THIS SECTION IS FOR INSTRUCTIONAL PURPOSES -->
