body { 
    background: #F5F5F5;
    color: #000;
}

a { 
    color: #00c;
}


input { height: 18px;}

textarea {
    width:610px;
    height:200px;
}

h1 {
	font-family: 'Wire One', sans-serif;
	font-size: 60px;
	padding-top: 20px;
}

h2 {
	font-family: 'Wire One', sans-serif;
	font-size: 30px;
	padding-top: 10px;
}

h3 {
	font-family: 'Wire One', sans-serif;
	font-size: 20px;
}

hr {
	background-color: #000;
	height: 1px;
}

small {
	font-family: sans-serif;
	
}

.container {
	
}

