body { 
    background: #F0FFFF;
    color: #2F4F4F;
}

a { 
    color: #191970;
}


input { height: 18px;}

textarea {
    width:610px;
    height:200px;
}

h1 {
	font-family: 'Wire One', sans-serif;
	font-size: 60px;
	padding-top: 20px;
}

h2 {
	font-family: 'Wire One', sans-serif;
	font-size: 30px;
	padding-top: 10px;
}

h3 {
	font-family: 'Wire One', sans-serif;
	font-size: 20px;
}

hr {
	color: #2F4F4F;
	background-color: #2F4F4F;
	height: 1px;
}

small {
	font-family: sans-serif;
	
}

.container {
	
}

